.container{
  
}

.imgContainer{
  width: 100%;
  height: 300px;
  position: relative;
}

.img{
  object-fit: cover;
  filter: grayscale(100%);
}

.imgText{
  position: absolute;
  bottom: 20px;
  top: 200px;
  background-color: #53c28b;
  padding: 5px;
  color: white;
}

.textContainer{
  display: flex;
  gap: 100px;
}

.item{
  flex: 1;
  flex-direction: column;
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.desc{
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}