.container{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-weight: bold;
  font-style: 22px;
}

.links{
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout{
  padding: 10px;
  border: none;
  background-color: #c58888;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}